<table style="height: 391px; width: 730px;border: 1px solid black;
  border-collapse: collapse;" border="2">
<tbody>
<tr style="height: 21px;">
<td style="width: 697px; height: 21px; text-align: center;" colspan="9">
<h1><span style="color: #000000;"><em><strong>Aashirwada industries&nbsp;</strong></em></span></h1>
</td>
</tr>
<tr style="height: 21px;">
<td style="width: 697px; height: 21px; text-align: center;" colspan="9"><span style="color: #000000;">No 423/B, Kongala, Hakmana.</span></td>
</tr>
<tr style="height: 21px;">
<td style="width: 697px; height: 21px; text-align: center;" colspan="9"><span style="color: #000000;">ashirwadasales@gmail.com</span></td>
</tr>
<tr style="height: 21px;">
<td style="width: 335px; height: 21px; text-align: center;" colspan="4"><span style="color: #000000;"><strong>Customer Details </strong></span></td>
<td style="width: 362px; height: 21px; text-align: center;" colspan="5"><span style="color: #000000;">SALES INVOICE</span></td>
</tr>
<tr style="height: 21px;">
<td style="width: 335px; height: 84.5px;" colspan="4" rowspan="4"><span style="color: #000000;"><strong><em>Kovishanger Arul Jenita</em>.&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</strong>No.15,4th<strong>&nbsp;</strong>Cross, Thiraimadu, Batticaloa.</span></td>
<td style="width: 199px; height: 21px;" colspan="3"><span style="color: #000000;">Invoice No</span></td>
<td style="width: 163px; height: 21px;" colspan="2"><span style="color: #000000;">000165</span></td>
</tr>
<tr style="height: 21px;">
<td style="width: 199px; height: 21px;" colspan="3"><span style="color: #000000;">Invoice Date</span></td>
<td style="width: 163px; height: 21px;" colspan="2"><span style="color: #000000;">2023.07.07</span></td>
</tr>
<tr style="height: 21.5px;">
<td style="width: 199px; height: 21.5px;" colspan="3"><span style="color: #000000;">Vehicle No</span></td>
<td style="width: 163px; height: 21.5px;" colspan="2"><span style="color: #000000;">&nbsp;</span></td>
</tr>
<tr style="height: 21px;">
<td style="width: 199px; height: 21px;" colspan="3"><span style="color: #000000;">Driver's Mobile No</span></td>
<td style="width: 163px; height: 21px;" colspan="2"><span style="color: #000000;">&nbsp;</span></td>
</tr>
<tr style="height: 21px;">
<td style="width: 44px; height: 21px;"><span style="color: #808080;"><strong>Serial No</strong></span></td>
<td style="width: 66px; height: 21px;"><span style="color: #808080;"><strong>&nbsp;Code No</strong></span></td>
<td style="width: 71.3594px; height: 21px;">&nbsp;</td>
<td style="width: 153.641px; height: 21px; text-align: center;"><strong><span style="color: #808080;">Description</span></strong></td>
<td style="width: 56px; height: 21px; text-align: center;"><span style="color: #808080;"><strong>&nbsp;QTY</strong></span></td>
<td style="width: 61px; height: 21px; text-align: center;"><span style="color: #808080;"><strong>&nbsp;Free</strong></span></td>
<td style="width: 82px; height: 21px; text-align: center;"><strong><span style="color: #808080;">&nbsp;QTY Rate</span></strong></td>
<td style="width: 81px; height: 21px; text-align: center;"><strong><span style="color: #808080;">&nbsp;Dis Rate&nbsp;</span></strong></td>
<td style="width: 82px; height: 21px; text-align: center;"><span style="color: #808080;"><strong>&nbsp;Net Value</strong></span></td>
</tr>
<tr style="height: 21px;">
<td style="width: 44px; height: 21px;">&nbsp;1</td>
<td style="width: 66px; height: 21px;">&nbsp;</td>
<td style="width: 71.3594px; height: 147px;" rowspan="7">ASHIRWAD Incense Sticks</td>
<td style="width: 153.641px; height: 21px;">&nbsp;Boquet</td>
<td style="width: 56px; height: 21px;">&nbsp;</td>
<td style="width: 61px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 82px; height: 21px; text-align: right;">&nbsp;131.25</td>
<td style="width: 81px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 82px; height: 21px; text-align: center;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 44px; height: 21px;">&nbsp;2</td>
<td style="width: 66px; height: 21px;">&nbsp;</td>
<td style="width: 153.641px; height: 21px;">&nbsp;Green life</td>
<td style="width: 56px; height: 21px; text-align: right;">&nbsp;</td>
<td style="width: 61px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 82px; height: 21px; text-align: right;">&nbsp;131.25</td>
<td style="width: 81px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 82px; height: 21px; text-align: center;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 44px; height: 21px;">&nbsp;3</td>
<td style="width: 66px; height: 21px;">&nbsp;</td>
<td style="width: 153.641px; height: 21px;">&nbsp;<span style="color: #000000;">Sanndalwood</span></td>
<td style="width: 56px; height: 21px;">&nbsp;</td>
<td style="width: 61px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 82px; height: 21px; text-align: right;">&nbsp;131.25</td>
<td style="width: 81px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 82px; height: 21px; text-align: center;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 44px; height: 21px;">&nbsp;4</td>
<td style="width: 66px; height: 21px;">&nbsp;</td>
<td style="width: 153.641px; height: 21px;">&nbsp;Pineapple</td>
<td style="width: 56px; height: 21px; text-align: right;">&nbsp;</td>
<td style="width: 61px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 82px; height: 21px; text-align: right;">&nbsp;131.25</td>
<td style="width: 81px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 82px; height: 21px; text-align: center;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 44px; height: 21px;">&nbsp;5</td>
<td style="width: 66px; height: 21px;">&nbsp;</td>
<td style="width: 153.641px; height: 21px;">&nbsp;Mandarina</td>
<td style="width: 56px; height: 21px; text-align: right;">&nbsp;</td>
<td style="width: 61px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 82px; height: 21px; text-align: right;">&nbsp;131.25</td>
<td style="width: 81px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 82px; height: 21px; text-align: center;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 44px; height: 21px;">&nbsp;6</td>
<td style="width: 66px; height: 21px;">&nbsp;</td>
<td style="width: 153.641px; height: 21px;">&nbsp;</td>
<td style="width: 56px; height: 21px;">&nbsp;</td>
<td style="width: 61px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 82px; height: 21px; text-align: right;">&nbsp;131.25</td>
<td style="width: 81px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 82px; height: 21px; text-align: center;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 44px; height: 21px;">&nbsp;</td>
<td style="width: 66px; height: 21px;">&nbsp;</td>
<td style="width: 153.641px; height: 21px;">&nbsp;</td>
<td style="width: 56px; height: 21px;">&nbsp;</td>
<td style="width: 61px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 82px; height: 21px; text-align: right;">&nbsp;</td>
<td style="width: 81px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 82px; height: 21px; text-align: center;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 44px; height: 21px;">&nbsp;7</td>
<td style="width: 66px; height: 21px;">&nbsp;</td>
<td style="width: 71.3594px; height: 168px; text-align: left;" rowspan="8">MEERA Incense Sticks</td>
<td style="width: 153.641px; height: 21px;">&nbsp;Jasmine</td>
<td style="width: 56px; height: 21px;">&nbsp;</td>
<td style="width: 61px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 82px; height: 21px; text-align: right;">&nbsp;43.75</td>
<td style="width: 81px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 82px; height: 21px; text-align: center;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 44px; height: 21px;">&nbsp;8</td>
<td style="width: 66px; height: 21px;">&nbsp;</td>
<td style="width: 153.641px; height: 21px;">&nbsp;Pineapple</td>
<td style="width: 56px; height: 21px;">&nbsp;</td>
<td style="width: 61px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 82px; height: 21px; text-align: right;">43.75</td>
<td style="width: 81px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 82px; height: 21px; text-align: center;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 44px; height: 21px;">&nbsp;9</td>
<td style="width: 66px; height: 21px;">&nbsp;</td>
<td style="width: 153.641px; height: 21px;">&nbsp;Lavender</td>
<td style="width: 56px; height: 21px;">&nbsp;</td>
<td style="width: 61px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 82px; height: 21px; text-align: right;">43.75</td>
<td style="width: 81px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 82px; height: 21px; text-align: center;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 44px; height: 21px;">&nbsp;10</td>
<td style="width: 66px; height: 21px;">&nbsp;</td>
<td style="width: 153.641px; height: 21px;">&nbsp;Rose</td>
<td style="width: 56px; height: 21px;">&nbsp;</td>
<td style="width: 61px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 82px; height: 21px; text-align: right;">43.75</td>
<td style="width: 81px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 82px; height: 21px; text-align: center;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 44px; height: 21px;">&nbsp;11</td>
<td style="width: 66px; height: 21px;">&nbsp;</td>
<td style="width: 153.641px; height: 21px;">&nbsp;Sanndalwood</td>
<td style="width: 56px; height: 21px;">&nbsp;</td>
<td style="width: 61px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 82px; height: 21px; text-align: right;">43.75</td>
<td style="width: 81px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 82px; height: 21px; text-align: center;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 44px; height: 21px;">&nbsp;12</td>
<td style="width: 66px; height: 21px;">&nbsp;</td>
<td style="width: 153.641px; height: 21px;">&nbsp;Lotus</td>
<td style="width: 56px; height: 21px;">&nbsp;</td>
<td style="width: 61px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 82px; height: 21px; text-align: right;">43.75</td>
<td style="width: 81px; height: 21px;">&nbsp;</td>
<td style="width: 82px; height: 21px;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 44px; height: 21px;">&nbsp;</td>
<td style="width: 66px; height: 21px;">&nbsp;</td>
<td style="width: 153.641px; height: 21px;">&nbsp;</td>
<td style="width: 56px; height: 21px;">&nbsp;</td>
<td style="width: 61px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 82px; height: 21px; text-align: right;">&nbsp;</td>
<td style="width: 81px; height: 21px;">&nbsp;</td>
<td style="width: 82px; height: 21px;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 44px; height: 21px;">&nbsp;</td>
<td style="width: 66px; height: 21px;">&nbsp;</td>
<td style="width: 153.641px; height: 21px;">&nbsp;</td>
<td style="width: 56px; height: 21px;">&nbsp;</td>
<td style="width: 61px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 82px; height: 21px; text-align: right;">&nbsp;</td>
<td style="width: 81px; height: 21px;">&nbsp;</td>
<td style="width: 82px; height: 21px;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 44px; height: 21px;">&nbsp;13</td>
<td style="width: 66px; height: 21px;">&nbsp;</td>
<td style="width: 71.3594px; height: 147px; text-align: left;" rowspan="7">KANTHAN Incense Sticks</td>
<td style="width: 153.641px; height: 21px;">&nbsp;Jasmine</td>
<td style="width: 56px; height: 21px;">&nbsp;</td>
<td style="width: 61px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 82px; height: 21px; text-align: right;">17.50</td>
<td style="width: 81px; height: 21px;">&nbsp;</td>
<td style="width: 82px; height: 21px;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 44px; height: 21px;">&nbsp;14</td>
<td style="width: 66px; height: 21px;">&nbsp;</td>
<td style="width: 153.641px; height: 21px;">&nbsp;Pineapple</td>
<td style="width: 56px; height: 21px;">&nbsp;</td>
<td style="width: 61px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 82px; height: 21px; text-align: right;">17.50</td>
<td style="width: 81px; height: 21px;">&nbsp;</td>
<td style="width: 82px; height: 21px;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 44px; height: 21px;">&nbsp;15</td>
<td style="width: 66px; height: 21px;">&nbsp;</td>
<td style="width: 153.641px; height: 21px;">&nbsp;Lavender</td>
<td style="width: 56px; height: 21px;">&nbsp;</td>
<td style="width: 61px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 82px; height: 21px; text-align: right;">17.50</td>
<td style="width: 81px; height: 21px;">&nbsp;</td>
<td style="width: 82px; height: 21px;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 44px; height: 21px;">&nbsp;16</td>
<td style="width: 66px; height: 21px;">&nbsp;</td>
<td style="width: 153.641px; height: 21px;">&nbsp;Rose</td>
<td style="width: 56px; height: 21px;">&nbsp;</td>
<td style="width: 61px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 82px; height: 21px; text-align: right;">17.50</td>
<td style="width: 81px; height: 21px;">&nbsp;</td>
<td style="width: 82px; height: 21px;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 44px; height: 21px;">&nbsp;17</td>
<td style="width: 66px; height: 21px;">&nbsp;</td>
<td style="width: 153.641px; height: 21px;">&nbsp;Sanndalwood</td>
<td style="width: 56px; height: 21px;">&nbsp;</td>
<td style="width: 61px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 82px; height: 21px; text-align: right;">17.50</td>
<td style="width: 81px; height: 21px; text-align: center;">&nbsp;-</td>
<td style="width: 82px; height: 21px; text-align: center;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 44px; height: 21px;">&nbsp;</td>
<td style="width: 66px; height: 21px;">&nbsp;</td>
<td style="width: 153.641px; height: 21px;">&nbsp;</td>
<td style="width: 56px; height: 21px;">&nbsp;</td>
<td style="width: 61px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 82px; height: 21px; text-align: right;">&nbsp;</td>
<td style="width: 81px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 82px; height: 21px; text-align: center;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 44px; height: 21px;">&nbsp;</td>
<td style="width: 66px; height: 21px;">&nbsp;</td>
<td style="width: 153.641px; height: 21px;">&nbsp;</td>
<td style="width: 56px; height: 21px;">&nbsp;</td>
<td style="width: 61px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 82px; height: 21px; text-align: right;">&nbsp;</td>
<td style="width: 81px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 82px; height: 21px; text-align: center;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 44px; height: 21px;">&nbsp;18</td>
<td style="width: 66px; height: 21px;">&nbsp;</td>
<td style="width: 71.3594px; height: 147px; text-align: left;" rowspan="7">ASHIRWAD Sambrani</td>
<td style="width: 153.641px; height: 21px;">&nbsp;Amber Sambrani&nbsp;</td>
<td style="width: 56px; height: 21px; text-align: right;">&nbsp;</td>
<td style="width: 61px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 82px; height: 21px; text-align: right;">105.00</td>
<td style="width: 81px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 82px; height: 21px; text-align: center;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 44px; height: 21px;">&nbsp;19</td>
<td style="width: 66px; height: 21px;">&nbsp;</td>
<td style="width: 153.641px; height: 21px;">&nbsp;Patchouli Sambrani</td>
<td style="width: 56px; height: 21px;">&nbsp;</td>
<td style="width: 61px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 82px; height: 21px; text-align: right;">105.00</td>
<td style="width: 81px; height: 21px;">&nbsp;</td>
<td style="width: 82px; height: 21px;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 44px; height: 21px;">&nbsp;20</td>
<td style="width: 66px; height: 21px;">&nbsp;</td>
<td style="width: 153.641px; height: 21px;">&nbsp;Guggul Sambrani</td>
<td style="width: 56px; height: 21px; text-align: right;">&nbsp;</td>
<td style="width: 61px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 82px; height: 21px; text-align: right;">105.00</td>
<td style="width: 81px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 82px; height: 21px; text-align: center;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 44px; height: 21px;">&nbsp;21</td>
<td style="width: 66px; height: 21px;">&nbsp;</td>
<td style="width: 153.641px; height: 21px;">&nbsp;Sambrani</td>
<td style="width: 56px; height: 21px;">&nbsp;</td>
<td style="width: 61px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 82px; height: 21px; text-align: right;">105.00</td>
<td style="width: 81px; height: 21px;">&nbsp;</td>
<td style="width: 82px; height: 21px;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 44px; height: 21px;">&nbsp;22</td>
<td style="width: 66px; height: 21px;">&nbsp;</td>
<td style="width: 153.641px; height: 21px;">&nbsp;Cup Sambrani&nbsp;</td>
<td style="width: 56px; height: 21px;">&nbsp;</td>
<td style="width: 61px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 82px; height: 21px; text-align: right;">&nbsp;</td>
<td style="width: 81px; height: 21px;">&nbsp;</td>
<td style="width: 82px; height: 21px;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 44px; height: 21px;">&nbsp;</td>
<td style="width: 66px; height: 21px;">&nbsp;</td>
<td style="width: 153.641px; height: 21px;">&nbsp;</td>
<td style="width: 56px; height: 21px;">&nbsp;</td>
<td style="width: 61px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 82px; height: 21px; text-align: right;">&nbsp;</td>
<td style="width: 81px; height: 21px;">&nbsp;</td>
<td style="width: 82px; height: 21px;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 44px; height: 21px;">&nbsp;</td>
<td style="width: 66px; height: 21px;">&nbsp;</td>
<td style="width: 153.641px; height: 21px;">&nbsp;</td>
<td style="width: 56px; height: 21px;">&nbsp;</td>
<td style="width: 61px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 82px; height: 21px; text-align: right;">&nbsp;</td>
<td style="width: 81px; height: 21px;">&nbsp;</td>
<td style="width: 82px; height: 21px;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 44px; height: 21px;">&nbsp;23</td>
<td style="width: 66px; height: 21px;">&nbsp;</td>
<td style="width: 71.3594px; height: 21px; text-align: left;">&nbsp;MEERA</td>
<td style="width: 153.641px; height: 21px;">&nbsp;Mosquito incense</td>
<td style="width: 56px; height: 21px;">&nbsp;</td>
<td style="width: 61px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 82px; height: 21px;">&nbsp;</td>
<td style="width: 81px; height: 21px;">&nbsp;</td>
<td style="width: 82px; height: 21px;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 44px; height: 21px;">&nbsp;24</td>
<td style="width: 66px; height: 21px;">&nbsp;</td>
<td style="width: 71.3594px; height: 21px; text-align: left;">&nbsp;MEERA</td>
<td style="width: 153.641px; height: 21px;">&nbsp;Ghee Lamp</td>
<td style="width: 56px; height: 21px;">&nbsp;</td>
<td style="width: 61px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 82px; height: 21px; text-align: right;">48.00</td>
<td style="width: 81px; height: 21px;">&nbsp;</td>
<td style="width: 82px; height: 21px;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 44px; height: 21px;">&nbsp;25</td>
<td style="width: 66px; height: 21px;">&nbsp;</td>
<td style="width: 71.3594px; height: 21px; text-align: left;">&nbsp;KANTHAN</td>
<td style="width: 153.641px; height: 21px;">&nbsp;Kovil Pack</td>
<td style="width: 56px; height: 21px;">&nbsp;</td>
<td style="width: 61px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 82px; height: 21px; text-align: right;">2,720.00</td>
<td style="width: 81px; height: 21px;">&nbsp;</td>
<td style="width: 82px; height: 21px;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 44px; height: 21px;">&nbsp;26</td>
<td style="width: 66px; height: 21px;">&nbsp;</td>
<td style="width: 71.3594px; height: 21px; text-align: left;">&nbsp;CK</td>
<td style="width: 153.641px; height: 21px;">&nbsp;Beedi</td>
<td style="width: 56px; height: 21px; text-align: right;">&nbsp;</td>
<td style="width: 61px; height: 21px;">&nbsp;</td>
<td style="width: 82px; height: 21px; text-align: right;">72.50</td>
<td style="width: 81px; height: 21px;">&nbsp;</td>
<td style="width: 82px; height: 21px;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 615px; height: 21px;" colspan="8">&nbsp;</td>
<td style="width: 82px; height: 21px; text-align: center;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 335px; height: 21px; text-align: center;" colspan="4">&nbsp;&nbsp;&nbsp;&nbsp;Remarks</td>
<td style="width: 362px; height: 21px;" colspan="5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 615px; height: 21px;" colspan="8">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td style="width: 82px; height: 21px;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 615px; height: 21px;" colspan="8">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td style="width: 82px; height: 21px;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 615px; height: 21px;" colspan="8">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td style="width: 82px; height: 21px;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 697px; height: 21px;" colspan="9">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 615px; height: 21px; text-align: left;" colspan="8">&nbsp;Net Total</td>
<td style="width: 82px; height: 21px;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 697px; height: 21px;" colspan="9">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
</tr>
<tr style="height: 10px;">
<td style="width: 335px; height: 40px; text-align: center; background-color: #F2F2F2;" colspan="4" rowspan="4">
<p>&nbsp;&nbsp;&nbsp;&nbsp;I delivered the above items&nbsp;&nbsp;</p>
<p>&nbsp;&nbsp;...................................................................</p>
<p>Authorized by Ashirwad Industries</p>
</td>
<td style="width: 117px; height: 40px;" colspan="2" rowspan="4">&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td style="width: 245px; height: 40px; background-color: #F2F2F2;" colspan="3" rowspan="4">
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;I received the above items&nbsp;</p>
<p>&nbsp;&hellip;.............................&nbsp; &nbsp; &hellip;./..../2023</p>
<p>&nbsp; &nbsp; Customer Signature&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Date</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>