<table style="height: 391px; width: 730px; border: 1px solid black; border-collapse: collapse;" border="2">
<tbody>
<tr style="height: 85.5px;">
<td style="width: 692px; height: 85.5px; text-align: center; background-color: #f2f2f2;" colspan="9">
<h1><span style="color: #000000;"><em><strong>Aashirwada industries&nbsp;</strong></em></span></h1>
<p><span style="color: #000000;">No 423/B, Kongala, Hakmana.</span></p>
<p><span style="color: #000000;">ashirwadasales@gmail.com</span></p>
</td>
</tr>
<tr style="height: 37px;">
<td style="width: 692px; height: 37px; text-align: center;" colspan="9"><strong><span style="color: #000000;">Customer Details</span></strong></td>
</tr>
<tr style="height: 37px;">
<td style="width: 692px; height: 37px; text-align: center;" colspan="9">
<p><em><span style="color: #000000;"><strong>Kovishanger Arul Jenita.</strong></span></em></p>
<p><span style="color: #000000;">No.15,4th Cross, Thiraimadu, Batticaloa.</span></p>
</td>
</tr>
<tr style="height: 21px;">
<td style="width: 44px; height: 21px;"><span style="color: #808080;"><strong>Serial No</strong></span></td>
<td style="width: 66px; height: 21px;"><span style="color: #808080;"><strong>&nbsp;Code No</strong></span></td>
<td style="width: 71.5px; height: 21px;">&nbsp;</td>
<td style="width: 152.5px; height: 21px; text-align: center;"><strong><span style="color: #808080;">Description</span></strong></td>
<td style="width: 56px; height: 21px; text-align: center;"><span style="color: #808080;"><strong>&nbsp;QTY</strong></span></td>
<td style="width: 61px; height: 21px; text-align: center;"><span style="color: #808080;"><strong>&nbsp;Free</strong></span></td>
<td style="width: 79px; height: 21px; text-align: center;"><strong><span style="color: #808080;">&nbsp;QTY Rate</span></strong></td>
<td style="width: 81px; height: 21px; text-align: center;"><strong><span style="color: #808080;">&nbsp;Dis Rate&nbsp;</span></strong></td>
<td style="width: 81px; height: 21px; text-align: center;"><span style="color: #808080;"><strong>&nbsp;Net Value</strong></span></td>
</tr>
<tr style="height: 21px;">
<td style="width: 44px; height: 21px;">&nbsp;1</td>
<td style="width: 66px; height: 21px;">&nbsp;</td>
<td style="width: 71.5px; height: 147px;" rowspan="7">ASHIRWAD Incense Sticks</td>
<td style="width: 152.5px; height: 21px;">&nbsp;Boquet</td>
<td style="width: 56px; height: 21px;">&nbsp;</td>
<td style="width: 61px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 79px; height: 21px; text-align: right;">&nbsp;131.25</td>
<td style="width: 81px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 81px; height: 21px; text-align: center;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 44px; height: 21px;">&nbsp;2</td>
<td style="width: 66px; height: 21px;">&nbsp;</td>
<td style="width: 152.5px; height: 21px;">&nbsp;Green life</td>
<td style="width: 56px; height: 21px; text-align: right;">&nbsp;</td>
<td style="width: 61px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 79px; height: 21px; text-align: right;">&nbsp;131.25</td>
<td style="width: 81px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 81px; height: 21px; text-align: center;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 44px; height: 21px;">&nbsp;3</td>
<td style="width: 66px; height: 21px;">&nbsp;</td>
<td style="width: 152.5px; height: 21px;">&nbsp;<span style="color: #000000;">Sanndalwood</span></td>
<td style="width: 56px; height: 21px;">&nbsp;</td>
<td style="width: 61px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 79px; height: 21px; text-align: right;">&nbsp;131.25</td>
<td style="width: 81px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 81px; height: 21px; text-align: center;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 44px; height: 21px;">&nbsp;4</td>
<td style="width: 66px; height: 21px;">&nbsp;</td>
<td style="width: 152.5px; height: 21px;">&nbsp;Pineapple</td>
<td style="width: 56px; height: 21px; text-align: right;">&nbsp;</td>
<td style="width: 61px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 79px; height: 21px; text-align: right;">&nbsp;131.25</td>
<td style="width: 81px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 81px; height: 21px; text-align: center;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 44px; height: 21px;">&nbsp;5</td>
<td style="width: 66px; height: 21px;">&nbsp;</td>
<td style="width: 152.5px; height: 21px;">&nbsp;Mandarina</td>
<td style="width: 56px; height: 21px; text-align: right;">&nbsp;</td>
<td style="width: 61px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 79px; height: 21px; text-align: right;">&nbsp;131.25</td>
<td style="width: 81px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 81px; height: 21px; text-align: center;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 44px; height: 21px;">&nbsp;6</td>
<td style="width: 66px; height: 21px;">&nbsp;</td>
<td style="width: 152.5px; height: 21px;">&nbsp;</td>
<td style="width: 56px; height: 21px;">&nbsp;</td>
<td style="width: 61px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 79px; height: 21px; text-align: right;">&nbsp;131.25</td>
<td style="width: 81px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 81px; height: 21px; text-align: center;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 44px; height: 21px;">&nbsp;</td>
<td style="width: 66px; height: 21px;">&nbsp;</td>
<td style="width: 152.5px; height: 21px;">&nbsp;</td>
<td style="width: 56px; height: 21px;">&nbsp;</td>
<td style="width: 61px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 79px; height: 21px; text-align: right;">&nbsp;</td>
<td style="width: 81px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 81px; height: 21px; text-align: center;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 44px; height: 21px;">&nbsp;7</td>
<td style="width: 66px; height: 21px;">&nbsp;</td>
<td style="width: 71.5px; height: 168px; text-align: left;" rowspan="8">MEERA Incense Sticks</td>
<td style="width: 152.5px; height: 21px;">&nbsp;Jasmine</td>
<td style="width: 56px; height: 21px;">&nbsp;</td>
<td style="width: 61px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 79px; height: 21px; text-align: right;">&nbsp;43.75</td>
<td style="width: 81px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 81px; height: 21px; text-align: center;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 44px; height: 21px;">&nbsp;8</td>
<td style="width: 66px; height: 21px;">&nbsp;</td>
<td style="width: 152.5px; height: 21px;">&nbsp;Pineapple</td>
<td style="width: 56px; height: 21px;">&nbsp;</td>
<td style="width: 61px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 79px; height: 21px; text-align: right;">43.75</td>
<td style="width: 81px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 81px; height: 21px; text-align: center;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 44px; height: 21px;">&nbsp;9</td>
<td style="width: 66px; height: 21px;">&nbsp;</td>
<td style="width: 152.5px; height: 21px;">&nbsp;Lavender</td>
<td style="width: 56px; height: 21px;">&nbsp;</td>
<td style="width: 61px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 79px; height: 21px; text-align: right;">43.75</td>
<td style="width: 81px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 81px; height: 21px; text-align: center;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 44px; height: 21px;">&nbsp;10</td>
<td style="width: 66px; height: 21px;">&nbsp;</td>
<td style="width: 152.5px; height: 21px;">&nbsp;Rose</td>
<td style="width: 56px; height: 21px;">&nbsp;</td>
<td style="width: 61px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 79px; height: 21px; text-align: right;">43.75</td>
<td style="width: 81px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 81px; height: 21px; text-align: center;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 44px; height: 21px;">&nbsp;11</td>
<td style="width: 66px; height: 21px;">&nbsp;</td>
<td style="width: 152.5px; height: 21px;">&nbsp;Sanndalwood</td>
<td style="width: 56px; height: 21px;">&nbsp;</td>
<td style="width: 61px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 79px; height: 21px; text-align: right;">43.75</td>
<td style="width: 81px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 81px; height: 21px; text-align: center;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 44px; height: 21px;">&nbsp;12</td>
<td style="width: 66px; height: 21px;">&nbsp;</td>
<td style="width: 152.5px; height: 21px;">&nbsp;Lotus</td>
<td style="width: 56px; height: 21px;">&nbsp;</td>
<td style="width: 61px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 79px; height: 21px; text-align: right;">43.75</td>
<td style="width: 81px; height: 21px;">&nbsp;</td>
<td style="width: 81px; height: 21px;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 44px; height: 21px;">&nbsp;</td>
<td style="width: 66px; height: 21px;">&nbsp;</td>
<td style="width: 152.5px; height: 21px;">&nbsp;</td>
<td style="width: 56px; height: 21px;">&nbsp;</td>
<td style="width: 61px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 79px; height: 21px; text-align: right;">&nbsp;</td>
<td style="width: 81px; height: 21px;">&nbsp;</td>
<td style="width: 81px; height: 21px;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 44px; height: 21px;">&nbsp;</td>
<td style="width: 66px; height: 21px;">&nbsp;</td>
<td style="width: 152.5px; height: 21px;">&nbsp;</td>
<td style="width: 56px; height: 21px;">&nbsp;</td>
<td style="width: 61px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 79px; height: 21px; text-align: right;">&nbsp;</td>
<td style="width: 81px; height: 21px;">&nbsp;</td>
<td style="width: 81px; height: 21px;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 44px; height: 21px;">&nbsp;13</td>
<td style="width: 66px; height: 21px;">&nbsp;</td>
<td style="width: 71.5px; height: 147px; text-align: left;" rowspan="7">KANTHAN Incense Sticks</td>
<td style="width: 152.5px; height: 21px;">&nbsp;Jasmine</td>
<td style="width: 56px; height: 21px;">&nbsp;</td>
<td style="width: 61px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 79px; height: 21px; text-align: right;">17.50</td>
<td style="width: 81px; height: 21px;">&nbsp;</td>
<td style="width: 81px; height: 21px;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 44px; height: 21px;">&nbsp;14</td>
<td style="width: 66px; height: 21px;">&nbsp;</td>
<td style="width: 152.5px; height: 21px;">&nbsp;Pineapple</td>
<td style="width: 56px; height: 21px;">&nbsp;</td>
<td style="width: 61px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 79px; height: 21px; text-align: right;">17.50</td>
<td style="width: 81px; height: 21px;">&nbsp;</td>
<td style="width: 81px; height: 21px;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 44px; height: 21px;">&nbsp;15</td>
<td style="width: 66px; height: 21px;">&nbsp;</td>
<td style="width: 152.5px; height: 21px;">&nbsp;Lavender</td>
<td style="width: 56px; height: 21px;">&nbsp;</td>
<td style="width: 61px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 79px; height: 21px; text-align: right;">17.50</td>
<td style="width: 81px; height: 21px;">&nbsp;</td>
<td style="width: 81px; height: 21px;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 44px; height: 21px;">&nbsp;16</td>
<td style="width: 66px; height: 21px;">&nbsp;</td>
<td style="width: 152.5px; height: 21px;">&nbsp;Rose</td>
<td style="width: 56px; height: 21px;">&nbsp;</td>
<td style="width: 61px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 79px; height: 21px; text-align: right;">17.50</td>
<td style="width: 81px; height: 21px;">&nbsp;</td>
<td style="width: 81px; height: 21px;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 44px; height: 21px;">&nbsp;17</td>
<td style="width: 66px; height: 21px;">&nbsp;</td>
<td style="width: 152.5px; height: 21px;">&nbsp;Sanndalwood</td>
<td style="width: 56px; height: 21px;">&nbsp;</td>
<td style="width: 61px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 79px; height: 21px; text-align: right;">17.50</td>
<td style="width: 81px; height: 21px; text-align: center;">&nbsp;-</td>
<td style="width: 81px; height: 21px; text-align: center;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 44px; height: 21px;">&nbsp;</td>
<td style="width: 66px; height: 21px;">&nbsp;</td>
<td style="width: 152.5px; height: 21px;">&nbsp;</td>
<td style="width: 56px; height: 21px;">&nbsp;</td>
<td style="width: 61px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 79px; height: 21px; text-align: right;">&nbsp;</td>
<td style="width: 81px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 81px; height: 21px; text-align: center;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 44px; height: 21px;">&nbsp;</td>
<td style="width: 66px; height: 21px;">&nbsp;</td>
<td style="width: 152.5px; height: 21px;">&nbsp;</td>
<td style="width: 56px; height: 21px;">&nbsp;</td>
<td style="width: 61px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 79px; height: 21px; text-align: right;">&nbsp;</td>
<td style="width: 81px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 81px; height: 21px; text-align: center;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 44px; height: 21px;">&nbsp;18</td>
<td style="width: 66px; height: 21px;">&nbsp;</td>
<td style="width: 71.5px; height: 147px; text-align: left;" rowspan="7">ASHIRWAD Sambrani</td>
<td style="width: 152.5px; height: 21px;">&nbsp;Amber Sambrani&nbsp;</td>
<td style="width: 56px; height: 21px; text-align: right;">&nbsp;</td>
<td style="width: 61px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 79px; height: 21px; text-align: right;">105.00</td>
<td style="width: 81px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 81px; height: 21px; text-align: center;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 44px; height: 21px;">&nbsp;19</td>
<td style="width: 66px; height: 21px;">&nbsp;</td>
<td style="width: 152.5px; height: 21px;">&nbsp;Patchouli Sambrani</td>
<td style="width: 56px; height: 21px;">&nbsp;</td>
<td style="width: 61px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 79px; height: 21px; text-align: right;">105.00</td>
<td style="width: 81px; height: 21px;">&nbsp;</td>
<td style="width: 81px; height: 21px;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 44px; height: 21px;">&nbsp;20</td>
<td style="width: 66px; height: 21px;">&nbsp;</td>
<td style="width: 152.5px; height: 21px;">&nbsp;Guggul Sambrani</td>
<td style="width: 56px; height: 21px; text-align: right;">&nbsp;</td>
<td style="width: 61px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 79px; height: 21px; text-align: right;">105.00</td>
<td style="width: 81px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 81px; height: 21px; text-align: center;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 44px; height: 21px;">&nbsp;21</td>
<td style="width: 66px; height: 21px;">&nbsp;</td>
<td style="width: 152.5px; height: 21px;">&nbsp;Sambrani</td>
<td style="width: 56px; height: 21px;">&nbsp;</td>
<td style="width: 61px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 79px; height: 21px; text-align: right;">105.00</td>
<td style="width: 81px; height: 21px;">&nbsp;</td>
<td style="width: 81px; height: 21px;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 44px; height: 21px;">&nbsp;22</td>
<td style="width: 66px; height: 21px;">&nbsp;</td>
<td style="width: 152.5px; height: 21px;">&nbsp;Cup Sambrani&nbsp;</td>
<td style="width: 56px; height: 21px;">&nbsp;</td>
<td style="width: 61px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 79px; height: 21px; text-align: right;">&nbsp;</td>
<td style="width: 81px; height: 21px;">&nbsp;</td>
<td style="width: 81px; height: 21px;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 44px; height: 21px;">&nbsp;</td>
<td style="width: 66px; height: 21px;">&nbsp;</td>
<td style="width: 152.5px; height: 21px;">&nbsp;</td>
<td style="width: 56px; height: 21px;">&nbsp;</td>
<td style="width: 61px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 79px; height: 21px; text-align: right;">&nbsp;</td>
<td style="width: 81px; height: 21px;">&nbsp;</td>
<td style="width: 81px; height: 21px;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 44px; height: 21px;">&nbsp;</td>
<td style="width: 66px; height: 21px;">&nbsp;</td>
<td style="width: 152.5px; height: 21px;">&nbsp;</td>
<td style="width: 56px; height: 21px;">&nbsp;</td>
<td style="width: 61px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 79px; height: 21px; text-align: right;">&nbsp;</td>
<td style="width: 81px; height: 21px;">&nbsp;</td>
<td style="width: 81px; height: 21px;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 44px; height: 21px;">&nbsp;23</td>
<td style="width: 66px; height: 21px;">&nbsp;</td>
<td style="width: 71.5px; height: 21px; text-align: left;">&nbsp;MEERA</td>
<td style="width: 152.5px; height: 21px;">&nbsp;Mosquito incense</td>
<td style="width: 56px; height: 21px;">&nbsp;</td>
<td style="width: 61px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 79px; height: 21px;">&nbsp;</td>
<td style="width: 81px; height: 21px;">&nbsp;</td>
<td style="width: 81px; height: 21px;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 44px; height: 21px;">&nbsp;24</td>
<td style="width: 66px; height: 21px;">&nbsp;</td>
<td style="width: 71.5px; height: 21px; text-align: left;">&nbsp;MEERA</td>
<td style="width: 152.5px; height: 21px;">&nbsp;Ghee Lamp</td>
<td style="width: 56px; height: 21px;">&nbsp;</td>
<td style="width: 61px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 79px; height: 21px; text-align: right;">48.00</td>
<td style="width: 81px; height: 21px;">&nbsp;</td>
<td style="width: 81px; height: 21px;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 44px; height: 21px;">&nbsp;25</td>
<td style="width: 66px; height: 21px;">&nbsp;</td>
<td style="width: 71.5px; height: 21px; text-align: left;">&nbsp;KANTHAN</td>
<td style="width: 152.5px; height: 21px;">&nbsp;Kovil Pack</td>
<td style="width: 56px; height: 21px;">&nbsp;</td>
<td style="width: 61px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 79px; height: 21px; text-align: right;">2,720.00</td>
<td style="width: 81px; height: 21px;">&nbsp;</td>
<td style="width: 81px; height: 21px;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 44px; height: 21px;">&nbsp;26</td>
<td style="width: 66px; height: 21px;">&nbsp;</td>
<td style="width: 71.5px; height: 21px; text-align: left;">&nbsp;CK</td>
<td style="width: 152.5px; height: 21px;">&nbsp;Beedi</td>
<td style="width: 56px; height: 21px; text-align: right;">&nbsp;</td>
<td style="width: 61px; height: 21px;">&nbsp;</td>
<td style="width: 79px; height: 21px; text-align: right;">72.50</td>
<td style="width: 81px; height: 21px;">&nbsp;</td>
<td style="width: 81px; height: 21px;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 611px; height: 21px;" colspan="8">&nbsp;</td>
<td style="width: 81px; height: 21px; text-align: center;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 334px; height: 21px; text-align: center;" colspan="4">&nbsp;&nbsp;&nbsp;&nbsp;Remarks</td>
<td style="width: 358px; height: 21px;" colspan="5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 611px; height: 21px;" colspan="8">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td style="width: 81px; height: 21px;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 611px; height: 21px;" colspan="8">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td style="width: 81px; height: 21px;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 611px; height: 21px;" colspan="8">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td style="width: 81px; height: 21px;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 692px; height: 21px;" colspan="9">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 611px; height: 21px; text-align: left;" colspan="8">&nbsp;Net Total</td>
<td style="width: 81px; height: 21px;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 692px; height: 21px;" colspan="9">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>