<table style="height: 598px; width: 658px; border: 1px solid black; border-collapse: collapse;" border="2">
<tbody>
<tr style="height: 19.3281px;">
<td style="width: 653px; height: 19.3281px; text-align: center; background-color: #d0cece;" colspan="5">
<h1 style="text-align: left;"><span style="color: #000000;"><em><strong>Aashirwada industries&nbsp;</strong></em></span></h1>
</td>
</tr>
<tr style="height: 21px;">
<td style="width: 170px; height: 21px; background-color: #d0cece; text-align: center;"><strong>MONTH</strong></td>
<td style="width: 132.672px; height: 21px; text-align: center; background-color: #d0cece;">&nbsp;</td>
<td style="width: 350.328px; height: 21px; background-color: #d0cece; text-align: left;" colspan="3"><em><strong>Discount Claim Sheet</strong></em></td>
</tr>
<tr style="height: 21px;">
<td style="width: 170px; height: 21px; text-align: left; background-color: #d0cece;"><span style="color: #333333;"><strong>DISTRIBUTOR NAME</strong></span></td>
<td style="width: 132.672px; height: 21px; text-align: left; background-color: #d0cece;">&nbsp;</td>
<td style="width: 216.328px; height: 21px; text-align: center; background-color: #d0cece;" colspan="2"><span style="color: #000000;"><strong>PRODUCT NAME</strong></span></td>
<td style="width: 134px; height: 21px; text-align: center; background-color: #d0cece;">&nbsp;</td>
</tr>
<tr style="height: 1px;">
<td style="width: 170px; height: 1px; background-color: #d0cece; text-align: center;"><strong><span style="color: #808080;">Items</span></strong></td>
<td style="width: 132.672px; height: 1px; background-color: #d0cece; text-align: center;"><strong><span style="color: #808080;">Selling QTY</span></strong></td>
<td style="width: 102.328px; height: 1px; text-align: center; background-color: #d0cece;"><span style="color: #808080;"><strong>Bandal</strong></span></td>
<td style="width: 114px; height: 1px; text-align: center; background-color: #d0cece;"><span style="color: #808080;"><strong>Discount</strong></span></td>
<td style="width: 134px; height: 1px; text-align: center; background-color: #d0cece;"><span style="color: #808080;"><strong>Free Issue Value</strong></span></td>
</tr>
<tr style="height: 21px;">
<td style="width: 170px; height: 21px;">&nbsp;</td>
<td style="width: 132.672px; height: 21px;">&nbsp;</td>
<td style="width: 102.328px; height: 21px;">&nbsp;</td>
<td style="width: 114px; height: 21px;">&nbsp;</td>
<td style="width: 134px; height: 21px;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 170px; height: 21px;">&nbsp;</td>
<td style="width: 132.672px; height: 21px;">&nbsp;</td>
<td style="width: 102.328px; height: 21px;">&nbsp;</td>
<td style="width: 114px; height: 21px;">&nbsp;</td>
<td style="width: 134px; height: 21px;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 170px; height: 21px;">&nbsp;</td>
<td style="width: 132.672px; height: 21px;">&nbsp;</td>
<td style="width: 102.328px; height: 21px;">&nbsp;</td>
<td style="width: 114px; height: 21px;">&nbsp;</td>
<td style="width: 134px; height: 21px;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 170px; height: 21px;">&nbsp;</td>
<td style="width: 132.672px; height: 21px;">&nbsp;</td>
<td style="width: 102.328px; height: 21px;">&nbsp;</td>
<td style="width: 114px; height: 21px;">&nbsp;</td>
<td style="width: 134px; height: 21px;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 170px; height: 21px;">&nbsp;</td>
<td style="width: 132.672px; height: 21px;">&nbsp;</td>
<td style="width: 102.328px; height: 21px;">&nbsp;</td>
<td style="width: 114px; height: 21px;">&nbsp;</td>
<td style="width: 134px; height: 21px;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 519px; height: 21px; text-align: right;" colspan="4">TOTAL&nbsp;</td>
<td style="width: 134px; height: 21px;">&nbsp;</td>
</tr>
<tr style="height: 51px;">
<td style="width: 653px; height: 51px;" colspan="5">
<p>&nbsp;</p>
<p>&nbsp; &nbsp; ...........................................&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;........................................&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; .................................................&nbsp; &nbsp;</p>
<p>&nbsp; &nbsp; SALES REP SIGNATURE&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;ASM/ASE SIGNATURE&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;DISTRIBUTOR SIGNATURE</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; WITH SEAL</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>