<table style="height: 391px; width: 889px; border: 1px solid black; border-collapse: collapse;" border="2">
<tbody>
<tr style="height: 97px;">
<td style="width: 7874px; height: 97px; text-align: center;" colspan="11">
<h1><span style="color: #000000;"><strong>ASHIRWADA INDUSTRIES</strong></span></h1>
<h2>&nbsp;STOCK RETURN FORM</h2>
</td>
</tr>
<tr style="height: 6px;">
<td style="width: 1037.58px; height: 6px;">
<p>Area:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>
</td>
<td style="width: 6836.42px; height: 6px; text-align: left;" colspan="10">&nbsp;Batticaloa</td>
</tr>
<tr style="height: 6px;">
<td style="width: 1037.58px; height: 6px;">
<p>Area Sales Executive Name:</p>
</td>
<td style="width: 6836.42px; height: 6px; text-align: left;" colspan="10">&nbsp;Menon</td>
</tr>
<tr style="height: 12px;">
<td style="width: 1037.58px; height: 12px;">
<p>Distributor Name:</p>
</td>
<td style="width: 6836.42px; height: 12px; text-align: left;" colspan="10">&nbsp;Kovishanger Arul Jenita&nbsp;</td>
</tr>
<tr style="height: 7px;">
<td style="width: 1509px; height: 26px; text-align: center;" colspan="2" rowspan="2">&nbsp;<strong><span style="color: #808080;">Item</span></strong></td>
<td style="width: 425px; height: 26px; text-align: center;" rowspan="2"><span style="color: #808080;"><strong>PACK SIZE</strong></span></td>
<td style="width: 504px; height: 26px; text-align: center;" rowspan="2"><span style="color: #808080;"><strong> MRP</strong></span></td>
<td style="width: 305px; height: 26px; text-align: center;" rowspan="2"><strong><span style="color: #808080;">&nbsp;WSP</span></strong></td>
<td style="width: 146px; height: 26px; text-align: center;" rowspan="2"><span style="color: #808080;"><strong>DB PRICE</strong></span></td>
<td style="width: 4985px; height: 7px; text-align: center;" colspan="5"><strong><span style="color: #808080;">RETURN</span></strong></td>
</tr>
<tr style="height: 19px;">
<td style="width: 419px; height: 19px; text-align: center;"><span style="color: #808080;"><strong>SALABLE QTY</strong></span></td>
<td style="width: 681px; height: 19px; text-align: center;"><span style="color: #808080;"><strong>DAMAGE QTY </strong></span></td>
<td style="width: 665px; height: 19px; text-align: center;"><span style="color: #808080;"><strong>FREE QTY</strong></span></td>
<td style="width: 1557px; height: 19px; text-align: center;"><span style="color: #808080;"><strong>TOTAL</strong></span></td>
<td style="width: 1663px; height: 19px; text-align: center;"><span style="color: #808080;"><strong>VALUE</strong></span></td>
</tr>
<tr style="height: 21px;">
<td style="width: 1037.58px; height: 147px;" rowspan="7">ASHIRWAD Incense Sticks</td>
<td style="width: 471.422px; height: 21px;">Boquet</td>
<td style="width: 425px; height: 21px; text-align: right;">288</td>
<td style="width: 504px; height: 21px; text-align: right;">&nbsp;150</td>
<td style="width: 305px; height: 21px; text-align: right;">135</td>
<td style="width: 146px; height: 21px; text-align: right;">124.20</td>
<td style="width: 419px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 681px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 665px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 1557px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 1663px; height: 21px; text-align: center;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 471.422px; height: 21px;">Green life</td>
<td style="width: 425px; height: 21px; text-align: right;">288</td>
<td style="width: 504px; height: 21px; text-align: right;">150</td>
<td style="width: 305px; height: 21px; text-align: right;">135</td>
<td style="width: 146px; height: 21px; text-align: right;">124.20</td>
<td style="width: 419px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 681px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 665px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 1557px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 1663px; height: 21px; text-align: center;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 471.422px; height: 21px;">Gandhan</td>
<td style="width: 425px; height: 21px; text-align: right;">288</td>
<td style="width: 504px; height: 21px; text-align: right;">150</td>
<td style="width: 305px; height: 21px; text-align: right;">&nbsp;135</td>
<td style="width: 146px; height: 21px; text-align: right;">124.20</td>
<td style="width: 419px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 681px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 665px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 1557px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 1663px; height: 21px; text-align: center;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 471.422px; height: 21px;">Manzana canela</td>
<td style="width: 425px; height: 21px; text-align: right;">288</td>
<td style="width: 504px; height: 21px; text-align: right;">150</td>
<td style="width: 305px; height: 21px; text-align: right;">&nbsp;135</td>
<td style="width: 146px; height: 21px; text-align: right;">124.20</td>
<td style="width: 419px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 681px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 665px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 1557px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 1663px; height: 21px; text-align: center;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 471.422px; height: 21px;">Mandarina</td>
<td style="width: 425px; height: 21px; text-align: right;">288</td>
<td style="width: 504px; height: 21px; text-align: right;">150</td>
<td style="width: 305px; height: 21px; text-align: right;">135</td>
<td style="width: 146px; height: 21px; text-align: right;">124.20</td>
<td style="width: 419px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 681px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 665px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 1557px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 1663px; height: 21px; text-align: center;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 471.422px; height: 21px;">&nbsp;</td>
<td style="width: 425px; height: 21px;">&nbsp;</td>
<td style="width: 504px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 305px; height: 21px; text-align: right;">&nbsp;</td>
<td style="width: 146px; height: 21px; text-align: right;">&nbsp;</td>
<td style="width: 419px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 681px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 665px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 1557px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 1663px; height: 21px; text-align: center;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 471.422px; height: 21px;">&nbsp;</td>
<td style="width: 425px; height: 21px;">&nbsp;</td>
<td style="width: 504px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 305px; height: 21px; text-align: right;">&nbsp;</td>
<td style="width: 146px; height: 21px; text-align: right;">&nbsp;</td>
<td style="width: 419px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 681px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 665px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 1557px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 1663px; height: 21px; text-align: center;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 1037.58px; height: 168px; text-align: left;" rowspan="8">MEERA Incense Sticks</td>
<td style="width: 471.422px; height: 21px;">Jasmine</td>
<td style="width: 425px; height: 21px; text-align: right;">&nbsp;288</td>
<td style="width: 504px; height: 21px; text-align: right;">&nbsp;60</td>
<td style="width: 305px; height: 21px; text-align: right;">51</td>
<td style="width: 146px; height: 21px; text-align: right;">46.92</td>
<td style="width: 419px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 681px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 665px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 1557px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 1663px; height: 21px; text-align: center;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 471.422px; height: 21px;">Pineapple</td>
<td style="width: 425px; height: 21px; text-align: right;">288</td>
<td style="width: 504px; height: 21px; text-align: right;">&nbsp;60</td>
<td style="width: 305px; height: 21px; text-align: right;">45</td>
<td style="width: 146px; height: 21px; text-align: right;">41.40</td>
<td style="width: 419px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 681px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 665px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 1557px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 1663px; height: 21px; text-align: center;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 471.422px; height: 21px;">Lavender</td>
<td style="width: 425px; height: 21px; text-align: right;">&nbsp;288</td>
<td style="width: 504px; height: 21px; text-align: right;">&nbsp;60</td>
<td style="width: 305px; height: 21px; text-align: right;">45</td>
<td style="width: 146px; height: 21px; text-align: right;">41.40</td>
<td style="width: 419px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 681px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 665px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 1557px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 1663px; height: 21px; text-align: center;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 471.422px; height: 21px;">Rose</td>
<td style="width: 425px; height: 21px; text-align: right;">288</td>
<td style="width: 504px; height: 21px; text-align: right;">&nbsp;60</td>
<td style="width: 305px; height: 21px; text-align: right;">45</td>
<td style="width: 146px; height: 21px; text-align: right;">41.40</td>
<td style="width: 419px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 681px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 665px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 1557px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 1663px; height: 21px; text-align: center;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 471.422px; height: 21px;">Sanndalwood</td>
<td style="width: 425px; height: 21px; text-align: right;">288</td>
<td style="width: 504px; height: 21px; text-align: right;">&nbsp;60</td>
<td style="width: 305px; height: 21px; text-align: right;">45</td>
<td style="width: 146px; height: 21px; text-align: right;">41.40</td>
<td style="width: 419px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 681px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 665px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 1557px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 1663px; height: 21px; text-align: center;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 471.422px; height: 21px;">Lotus</td>
<td style="width: 425px; height: 21px; text-align: right;">&nbsp;288</td>
<td style="width: 504px; height: 21px; text-align: right;">&nbsp;60</td>
<td style="width: 305px; height: 21px; text-align: right;">45</td>
<td style="width: 146px; height: 21px; text-align: right;">41.40</td>
<td style="width: 419px; height: 21px;">&nbsp;</td>
<td style="width: 681px; height: 21px;">&nbsp;</td>
<td style="width: 665px; height: 21px;">&nbsp;</td>
<td style="width: 1557px; height: 21px;">&nbsp;</td>
<td style="width: 1663px; height: 21px;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 471.422px; height: 21px;">&nbsp;</td>
<td style="width: 425px; height: 21px;">&nbsp;</td>
<td style="width: 504px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 305px; height: 21px; text-align: right;">&nbsp;</td>
<td style="width: 146px; height: 21px; text-align: right;">&nbsp;</td>
<td style="width: 419px; height: 21px;">&nbsp;</td>
<td style="width: 681px; height: 21px;">&nbsp;</td>
<td style="width: 665px; height: 21px;">&nbsp;</td>
<td style="width: 1557px; height: 21px;">&nbsp;</td>
<td style="width: 1663px; height: 21px;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 471.422px; height: 21px;">&nbsp;</td>
<td style="width: 425px; height: 21px;">&nbsp;</td>
<td style="width: 504px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 305px; height: 21px; text-align: right;">&nbsp;</td>
<td style="width: 146px; height: 21px; text-align: right;">&nbsp;</td>
<td style="width: 419px; height: 21px;">&nbsp;</td>
<td style="width: 681px; height: 21px;">&nbsp;</td>
<td style="width: 665px; height: 21px;">&nbsp;</td>
<td style="width: 1557px; height: 21px;">&nbsp;</td>
<td style="width: 1663px; height: 21px;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 1037.58px; height: 147px; text-align: left;" rowspan="7">KANTHAN Incense Sticks</td>
<td style="width: 471.422px; height: 21px;">Jasmine</td>
<td style="width: 425px; height: 21px; text-align: right;">&nbsp;480</td>
<td style="width: 504px; height: 21px; text-align: right;">20.00</td>
<td style="width: 305px; height: 21px; text-align: right;">17.50</td>
<td style="width: 146px; height: 21px; text-align: right;">16.10</td>
<td style="width: 419px; height: 21px;">&nbsp;</td>
<td style="width: 681px; height: 21px;">&nbsp;</td>
<td style="width: 665px; height: 21px;">&nbsp;</td>
<td style="width: 1557px; height: 21px;">&nbsp;</td>
<td style="width: 1663px; height: 21px;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 471.422px; height: 21px;">Pineapple</td>
<td style="width: 425px; height: 21px; text-align: right;">480</td>
<td style="width: 504px; height: 21px; text-align: right;">20.00</td>
<td style="width: 305px; height: 21px; text-align: right;">17.50</td>
<td style="width: 146px; height: 21px; text-align: right;">16.10</td>
<td style="width: 419px; height: 21px;">&nbsp;</td>
<td style="width: 681px; height: 21px;">&nbsp;</td>
<td style="width: 665px; height: 21px;">&nbsp;</td>
<td style="width: 1557px; height: 21px;">&nbsp;</td>
<td style="width: 1663px; height: 21px;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 471.422px; height: 21px;">Lavender</td>
<td style="width: 425px; height: 21px; text-align: right;">480</td>
<td style="width: 504px; height: 21px; text-align: right;">20.00</td>
<td style="width: 305px; height: 21px; text-align: right;">17.50</td>
<td style="width: 146px; height: 21px; text-align: right;">16.10</td>
<td style="width: 419px; height: 21px;">&nbsp;</td>
<td style="width: 681px; height: 21px;">&nbsp;</td>
<td style="width: 665px; height: 21px;">&nbsp;</td>
<td style="width: 1557px; height: 21px;">&nbsp;</td>
<td style="width: 1663px; height: 21px;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 471.422px; height: 21px;">Rose</td>
<td style="width: 425px; height: 21px; text-align: right;">480</td>
<td style="width: 504px; height: 21px; text-align: right;">20.00</td>
<td style="width: 305px; height: 21px; text-align: right;">17.50</td>
<td style="width: 146px; height: 21px; text-align: right;">16.10</td>
<td style="width: 419px; height: 21px;">&nbsp;</td>
<td style="width: 681px; height: 21px;">&nbsp;</td>
<td style="width: 665px; height: 21px;">&nbsp;</td>
<td style="width: 1557px; height: 21px;">&nbsp;</td>
<td style="width: 1663px; height: 21px;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 471.422px; height: 21px;">Sanndalwood</td>
<td style="width: 425px; height: 21px; text-align: right;">480</td>
<td style="width: 504px; height: 21px; text-align: right;">20.00</td>
<td style="width: 305px; height: 21px; text-align: right;">17.50</td>
<td style="width: 146px; height: 21px; text-align: right;">16.10</td>
<td style="width: 419px; height: 21px; text-align: center;">&nbsp;-</td>
<td style="width: 681px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 665px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 1557px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 1663px; height: 21px; text-align: center;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 471.422px; height: 21px;">&nbsp;</td>
<td style="width: 425px; height: 21px;">&nbsp;</td>
<td style="width: 504px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 305px; height: 21px; text-align: right;">&nbsp;</td>
<td style="width: 146px; height: 21px; text-align: right;">&nbsp;</td>
<td style="width: 419px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 681px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 665px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 1557px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 1663px; height: 21px; text-align: center;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 471.422px; height: 21px;">&nbsp;</td>
<td style="width: 425px; height: 21px;">&nbsp;</td>
<td style="width: 504px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 305px; height: 21px; text-align: right;">&nbsp;</td>
<td style="width: 146px; height: 21px; text-align: right;">&nbsp;</td>
<td style="width: 419px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 681px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 665px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 1557px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 1663px; height: 21px; text-align: center;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 1037.58px; height: 147px; text-align: left;" rowspan="7">ASHIRWAD Sambrani</td>
<td style="width: 471.422px; height: 21px;">Amber&nbsp;</td>
<td style="width: 425px; height: 21px; text-align: right;">&nbsp;288</td>
<td style="width: 504px; height: 21px; text-align: right;">&nbsp;120</td>
<td style="width: 305px; height: 21px; text-align: right;">105</td>
<td style="width: 146px; height: 21px; text-align: right;">96.60</td>
<td style="width: 419px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 681px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 665px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 1557px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 1663px; height: 21px; text-align: center;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 471.422px; height: 21px;">Patchouli&nbsp;</td>
<td style="width: 425px; height: 21px; text-align: right;">&nbsp;&nbsp;288</td>
<td style="width: 504px; height: 21px; text-align: right;">&nbsp;120</td>
<td style="width: 305px; height: 21px; text-align: right;">105</td>
<td style="width: 146px; height: 21px; text-align: right;">96.60</td>
<td style="width: 419px; height: 21px;">&nbsp;</td>
<td style="width: 681px; height: 21px;">&nbsp;</td>
<td style="width: 665px; height: 21px;">&nbsp;</td>
<td style="width: 1557px; height: 21px;">&nbsp;</td>
<td style="width: 1663px; height: 21px;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 471.422px; height: 21px;">Guggul</td>
<td style="width: 425px; height: 21px; text-align: right;">&nbsp;288</td>
<td style="width: 504px; height: 21px; text-align: right;">&nbsp;120</td>
<td style="width: 305px; height: 21px; text-align: right;">105</td>
<td style="width: 146px; height: 21px; text-align: right;">96.60</td>
<td style="width: 419px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 681px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 665px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 1557px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 1663px; height: 21px; text-align: center;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 471.422px; height: 21px;">Sambrani</td>
<td style="width: 425px; height: 21px; text-align: right;">&nbsp;&nbsp;288</td>
<td style="width: 504px; height: 21px; text-align: right;">&nbsp;120</td>
<td style="width: 305px; height: 21px; text-align: right;">105</td>
<td style="width: 146px; height: 21px; text-align: right;">96.60</td>
<td style="width: 419px; height: 21px;">&nbsp;</td>
<td style="width: 681px; height: 21px;">&nbsp;</td>
<td style="width: 665px; height: 21px;">&nbsp;</td>
<td style="width: 1557px; height: 21px;">&nbsp;</td>
<td style="width: 1663px; height: 21px;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 471.422px; height: 21px;">&nbsp;</td>
<td style="width: 425px; height: 21px; text-align: right;">&nbsp;</td>
<td style="width: 504px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 305px; height: 21px; text-align: right;">&nbsp;</td>
<td style="width: 146px; height: 21px; text-align: right;">&nbsp;</td>
<td style="width: 419px; height: 21px;">&nbsp;</td>
<td style="width: 681px; height: 21px;">&nbsp;</td>
<td style="width: 665px; height: 21px;">&nbsp;</td>
<td style="width: 1557px; height: 21px;">&nbsp;</td>
<td style="width: 1663px; height: 21px;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 471.422px; height: 21px;">&nbsp;</td>
<td style="width: 425px; height: 21px;">&nbsp;</td>
<td style="width: 504px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 305px; height: 21px; text-align: right;">&nbsp;</td>
<td style="width: 146px; height: 21px; text-align: right;">&nbsp;</td>
<td style="width: 419px; height: 21px;">&nbsp;</td>
<td style="width: 681px; height: 21px;">&nbsp;</td>
<td style="width: 665px; height: 21px;">&nbsp;</td>
<td style="width: 1557px; height: 21px;">&nbsp;</td>
<td style="width: 1663px; height: 21px;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 471.422px; height: 21px;">&nbsp;</td>
<td style="width: 425px; height: 21px;">&nbsp;</td>
<td style="width: 504px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 305px; height: 21px; text-align: right;">&nbsp;</td>
<td style="width: 146px; height: 21px; text-align: right;">&nbsp;</td>
<td style="width: 419px; height: 21px;">&nbsp;</td>
<td style="width: 681px; height: 21px;">&nbsp;</td>
<td style="width: 665px; height: 21px;">&nbsp;</td>
<td style="width: 1557px; height: 21px;">&nbsp;</td>
<td style="width: 1663px; height: 21px;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 1037.58px; height: 21px; text-align: left;">MEERA</td>
<td style="width: 471.422px; height: 21px;">Mosquito incense</td>
<td style="width: 425px; height: 21px; text-align: right;">&nbsp;288</td>
<td style="width: 504px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 305px; height: 21px;">&nbsp;</td>
<td style="width: 146px; height: 21px;">&nbsp;</td>
<td style="width: 419px; height: 21px;">&nbsp;</td>
<td style="width: 681px; height: 21px;">&nbsp;</td>
<td style="width: 665px; height: 21px;">&nbsp;</td>
<td style="width: 1557px; height: 21px;">&nbsp;</td>
<td style="width: 1663px; height: 21px;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 1037.58px; height: 21px; text-align: left;">MEERA</td>
<td style="width: 471.422px; height: 21px;">Ghee Lamp</td>
<td style="width: 425px; height: 21px; text-align: right;">288</td>
<td style="width: 504px; height: 21px; text-align: right;">60</td>
<td style="width: 305px; height: 21px; text-align: right;">48</td>
<td style="width: 146px; height: 21px; text-align: right;">44.16</td>
<td style="width: 419px; height: 21px;">&nbsp;</td>
<td style="width: 681px; height: 21px;">&nbsp;</td>
<td style="width: 665px; height: 21px;">&nbsp;</td>
<td style="width: 1557px; height: 21px;">&nbsp;</td>
<td style="width: 1663px; height: 21px;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 1037.58px; height: 21px; text-align: left;">KANTHAN</td>
<td style="width: 471.422px; height: 21px;">Kovil Pack</td>
<td style="width: 425px; height: 21px; text-align: right;">&nbsp;288</td>
<td style="width: 504px; height: 21px; text-align: right;">3600</td>
<td style="width: 305px; height: 21px; text-align: right;">2,720</td>
<td style="width: 146px; height: 21px; text-align: right;">2,502.40</td>
<td style="width: 419px; height: 21px;">&nbsp;</td>
<td style="width: 681px; height: 21px;">&nbsp;</td>
<td style="width: 665px; height: 21px;">&nbsp;</td>
<td style="width: 1557px; height: 21px;">&nbsp;</td>
<td style="width: 1663px; height: 21px;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 1037.58px; height: 42px; text-align: left;" rowspan="2">Beedi</td>
<td style="width: 471.422px; height: 21px;">CK</td>
<td style="width: 425px; height: 21px; text-align: right;">240</td>
<td style="width: 504px; height: 21px; text-align: right;">2800</td>
<td style="width: 305px; height: 21px; text-align: right;">72.50</td>
<td style="width: 146px; height: 21px; text-align: right;">70.33</td>
<td style="width: 419px; height: 21px;">&nbsp;</td>
<td style="width: 681px; height: 21px;">&nbsp;</td>
<td style="width: 665px; height: 21px;">&nbsp;</td>
<td style="width: 1557px; height: 21px;">&nbsp;</td>
<td style="width: 1663px; height: 21px;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 471.422px; height: 21px;">RVGs</td>
<td style="width: 425px; height: 21px; text-align: right;">240</td>
<td style="width: 504px; height: 21px; text-align: right;">2800</td>
<td style="width: 305px; height: 21px; text-align: right;">72.50</td>
<td style="width: 146px; height: 21px; text-align: right;">70.33</td>
<td style="width: 419px; height: 21px; text-align: right;">&nbsp;</td>
<td style="width: 681px; height: 21px;">&nbsp;</td>
<td style="width: 665px; height: 21px;">&nbsp;</td>
<td style="width: 1557px; height: 21px; text-align: right;">&nbsp;</td>
<td style="width: 1663px; height: 21px;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 2743px; height: 21px;" colspan="5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td style="width: 3468px; height: 21px;" colspan="5">TOTAL AMOUNT</td>
<td style="width: 1663px; height: 21px;">&nbsp;</td>
</tr>
<tr style="height: 39px;">
<td style="width: 7874px; height: 39px;" colspan="11">
<p>&nbsp;</p>
<p>&nbsp; &nbsp;I received the above stocks&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;I hand over the above stocks</p>
<p>&nbsp; &nbsp; .........................................&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;....</p>
<p>&nbsp;Area Sales Executive Signature&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Distributor Signature with seal</p>
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>