<table style="height: 525px; width: 810px; border: 1px solid black; border-collapse: collapse;" border="2">
<tbody>
<tr style="height: 21px;">
<td style="width: 798px; height: 21px; text-align: center;" colspan="7"><em>Ashirwada industries No 423/B, Kongala, Hakmana.</em></td>
</tr>
<tr style="height: 21px;">
<td style="width: 639px; height: 21px; text-align: center;" colspan="6"><strong>Distrbutor Ledger Report</strong></td>
<td style="width: 159px; height: 21px; text-align: center;"><strong>31-Aug</strong></td>
</tr>
<tr style="height: 21px;">
<td style="width: 163px; height: 21px; text-align: left;" colspan="2">Distrbutor Name</td>
<td style="width: 260.828px; height: 21px; text-align: center;" colspan="2"><strong>Kovishanger Arul Jenita&nbsp;</strong></td>
<td style="width: 106.172px; height: 21px; text-align: center;">Area</td>
<td style="width: 268px; height: 21px; text-align: left;" colspan="2"><strong> Batti a</strong></td>
</tr>
<tr style="height: 21.4375px;">
<td style="width: 71px; height: 42.4375px; text-align: center;"><strong><span style="color: #808080;">Date</span></strong></td>
<td style="width: 92px; height: 42.4375px; text-align: center;"><strong><span style="color: #808080;">Inv Number</span></strong></td>
<td style="width: 155px; height: 42.4375px; text-align: center;"><strong><span style="color: #808080;">Description</span></strong></td>
<td style="width: 105.828px; height: 42.4375px; text-align: center;"><span style="color: #808080;"><strong>Debit</strong></span></td>
<td style="width: 106.172px; height: 42.4375px; text-align: center;"><span style="color: #808080;"><strong>Credit</strong></span></td>
<td style="width: 109px; height: 21.4375px; text-align: center;"><strong><span style="color: #808080;">Balance</span></strong></td>
<td style="width: 159px; height: 42.4375px; text-align: center;"><span style="color: #808080;"><strong>Total Due&nbsp;</strong></span></td>
</tr>
<tr style="height: 21px;">
<td style="width: 71px; height: 21px;">&nbsp;</td>
<td style="width: 92px; height: 21px;">&nbsp;</td>
<td style="width: 155px; height: 21px;">&nbsp;</td>
<td style="width: 105.828px; height: 21px;">&nbsp;</td>
<td style="width: 106.172px; height: 21px;">&nbsp;</td>
<td style="width: 109px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 159px; height: 21px; text-align: center;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 71px; height: 21px;">&nbsp;</td>
<td style="width: 92px; height: 21px;">&nbsp;</td>
<td style="width: 155px; height: 21px;">&nbsp;</td>
<td style="width: 105.828px; height: 21px;">&nbsp;</td>
<td style="width: 106.172px; height: 21px;">&nbsp;</td>
<td style="width: 109px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 159px; height: 21px; text-align: center;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 71px; height: 21px;">&nbsp;</td>
<td style="width: 92px; height: 21px;">&nbsp;</td>
<td style="width: 155px; height: 21px;">&nbsp;</td>
<td style="width: 105.828px; height: 21px;">&nbsp;</td>
<td style="width: 106.172px; height: 21px;">&nbsp;</td>
<td style="width: 109px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 159px; height: 21px; text-align: center;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 71px; height: 21px;">&nbsp;</td>
<td style="width: 92px; height: 21px;">&nbsp;</td>
<td style="width: 155px; height: 21px;">&nbsp;</td>
<td style="width: 105.828px; height: 21px;">&nbsp;</td>
<td style="width: 106.172px; height: 21px;">&nbsp;</td>
<td style="width: 109px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 159px; height: 21px; text-align: center;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 71px; height: 21px;">&nbsp;</td>
<td style="width: 92px; height: 21px;">&nbsp;</td>
<td style="width: 155px; height: 21px;">&nbsp;</td>
<td style="width: 105.828px; height: 21px;">&nbsp;</td>
<td style="width: 106.172px; height: 21px;">&nbsp;</td>
<td style="width: 109px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 159px; height: 21px; text-align: center;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 71px; height: 21px;">&nbsp;</td>
<td style="width: 92px; height: 21px;">&nbsp;</td>
<td style="width: 155px; height: 21px;">&nbsp;</td>
<td style="width: 105.828px; height: 21px;">&nbsp;</td>
<td style="width: 106.172px; height: 21px;">&nbsp;</td>
<td style="width: 109px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 159px; height: 21px; text-align: center;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 71px; height: 21px;">&nbsp;</td>
<td style="width: 92px; height: 21px;">&nbsp;</td>
<td style="width: 155px; height: 21px;">&nbsp;</td>
<td style="width: 105.828px; height: 21px;">&nbsp;</td>
<td style="width: 106.172px; height: 21px;">&nbsp;</td>
<td style="width: 109px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 159px; height: 21px; text-align: center;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 71px; height: 21px;">&nbsp;</td>
<td style="width: 92px; height: 21px;">&nbsp;</td>
<td style="width: 155px; height: 21px;">&nbsp;</td>
<td style="width: 105.828px; height: 21px;">&nbsp;</td>
<td style="width: 106.172px; height: 21px;">&nbsp;</td>
<td style="width: 109px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 159px; height: 21px; text-align: center;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 71px; height: 21px;">&nbsp;</td>
<td style="width: 92px; height: 21px;">&nbsp;</td>
<td style="width: 155px; height: 21px;">&nbsp;</td>
<td style="width: 105.828px; height: 21px;">&nbsp;</td>
<td style="width: 106.172px; height: 21px;">&nbsp;</td>
<td style="width: 109px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 159px; height: 21px; text-align: center;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 71px; height: 21px;">&nbsp;</td>
<td style="width: 92px; height: 21px;">&nbsp;</td>
<td style="width: 155px; height: 21px;">&nbsp;</td>
<td style="width: 105.828px; height: 21px;">&nbsp;</td>
<td style="width: 106.172px; height: 21px;">&nbsp;</td>
<td style="width: 109px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 159px; height: 21px; text-align: center;">&nbsp;</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>Details of the distributor's blank checks with us</p>
<table style="height: 151px; width: 253px; border: 1px solid black; border-collapse: collapse;" border="2">
<tbody>
<tr style="height: 21px;">
<td style="width: 126px; height: 21px;">CHQ No</td>
<td style="width: 126px; height: 21px;">Count</td>
</tr>
<tr style="height: 21px;">
<td style="width: 126px; height: 21px;">&nbsp;</td>
<td style="width: 126px; height: 21px;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 126px; height: 21px;">&nbsp;</td>
<td style="width: 126px; height: 21px;">&nbsp;</td>
</tr>
<tr style="height: 21.5px;">
<td style="width: 126px; height: 21.5px;">&nbsp;</td>
<td style="width: 126px; height: 21.5px;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 126px; height: 21px;">&nbsp;</td>
<td style="width: 126px; height: 21px;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 126px; height: 21px;">&nbsp;</td>
<td style="width: 126px; height: 21px;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 252px; text-align: right; height: 21px;" colspan="2">&nbsp;</td>
</tr>
</tbody>
</table>