<table style="height: 661px; width: 787px; border: 1px solid black; border-collapse: collapse;" border="2">
<tbody>
<tr style="height: 23.4375px;">
<td style="width: 786px; height: 23.4375px; text-align: center; background-color: #d0cece;" colspan="9">
<h1><span style="color: #000000;"><em><strong>Aashirwada industries&nbsp;</strong></em></span></h1>
</td>
</tr>
<tr style="height: 21px;">
<td style="width: 786px; height: 21px; text-align: center; background-color: #d0cece;" colspan="9"><em><strong>Redistribution Allowance Claim Sheet</strong></em></td>
</tr>
<tr style="height: 21px;">
<td style="width: 196.359px; height: 21px; text-align: left; background-color: #d0cece;" colspan="2"><strong>DISTRIBUTOR NAME</strong></td>
<td style="width: 205.844px; height: 21px; text-align: center; background-color: #d0cece;" colspan="2">Kovishanger Arul Jenita&nbsp;</td>
<td style="width: 166.641px; height: 21px; text-align: center; background-color: #d0cece;" colspan="2"><strong>MONTH</strong></td>
<td style="width: 217.156px; height: 21px; background-color: #d0cece; text-align: left;" colspan="3"><strong>&nbsp;JULY</strong></td>
</tr>
<tr style="height: 21px;">
<td style="width: 67.8438px; height: 42px; background-color: #d0cece; text-align: center;" rowspan="2"><strong><span style="color: #808080;">Date</span></strong></td>
<td style="width: 128.516px; height: 42px; background-color: #d0cece; text-align: center;" rowspan="2">&nbsp;<strong><span style="color: #808080;">Description&nbsp;</span></strong></td>
<td style="width: 102.219px; height: 42px; text-align: center; background-color: #d0cece;" rowspan="2"><span style="color: #808080;"><strong>Working Days</strong></span></td>
<td style="width: 103.625px; height: 42px; text-align: center; background-color: #d0cece;" rowspan="2"><span style="color: #808080;"><strong>Amount per Day&nbsp;</strong></span></td>
<td style="width: 86.0625px; height: 42px; text-align: center; background-color: #d0cece;" rowspan="2"><span style="color: #808080;"><strong>Targets</strong></span></td>
<td style="width: 80.5781px; height: 42px; text-align: center; background-color: #d0cece;" rowspan="2"><span style="color: #808080;"><strong>Actual</strong></span></td>
<td style="width: 142.516px; height: 21px; text-align: center; background-color: #d0cece;" colspan="2"><span style="color: #808080;"><strong>Kilometre</strong></span></td>
<td style="width: 74.6406px; height: 42px; text-align: center; background-color: #d0cece;" rowspan="2">&nbsp;<span style="color: #808080;"><strong>Amount</strong></span></td>
</tr>
<tr style="height: 21px;">
<td style="width: 74.0625px; height: 21px; text-align: center; background-color: #d0cece;"><span style="color: #808080;"><strong>Plan</strong></span></td>
<td style="width: 68.4531px; height: 21px; text-align: center; background-color: #d0cece;"><span style="color: #808080;"><strong>Actual</strong></span></td>
</tr>
<tr style="height: 21px;">
<td style="width: 67.8438px; height: 21px;">&nbsp;</td>
<td style="width: 128.516px; height: 21px;">&nbsp;</td>
<td style="width: 102.219px; height: 21px;">&nbsp;</td>
<td style="width: 103.625px; height: 21px;">&nbsp;</td>
<td style="width: 86.0625px; height: 21px;">&nbsp;</td>
<td style="width: 80.5781px; height: 21px;">&nbsp;</td>
<td style="width: 74.0625px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 68.4531px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 74.6406px; height: 21px; text-align: center;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 67.8438px; height: 21px;">&nbsp;</td>
<td style="width: 128.516px; height: 21px;">&nbsp;</td>
<td style="width: 102.219px; height: 21px;">&nbsp;</td>
<td style="width: 103.625px; height: 21px;">&nbsp;</td>
<td style="width: 86.0625px; height: 21px;">&nbsp;</td>
<td style="width: 80.5781px; height: 21px;">&nbsp;</td>
<td style="width: 74.0625px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 68.4531px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 74.6406px; height: 21px; text-align: center;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 67.8438px; height: 21px;">&nbsp;</td>
<td style="width: 128.516px; height: 21px;">&nbsp;</td>
<td style="width: 102.219px; height: 21px;">&nbsp;</td>
<td style="width: 103.625px; height: 21px;">&nbsp;</td>
<td style="width: 86.0625px; height: 21px;">&nbsp;</td>
<td style="width: 80.5781px; height: 21px;">&nbsp;</td>
<td style="width: 74.0625px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 68.4531px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 74.6406px; height: 21px; text-align: center;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 67.8438px; height: 21px;">&nbsp;</td>
<td style="width: 128.516px; height: 21px;">&nbsp;</td>
<td style="width: 102.219px; height: 21px;">&nbsp;</td>
<td style="width: 103.625px; height: 21px;">&nbsp;</td>
<td style="width: 86.0625px; height: 21px;">&nbsp;</td>
<td style="width: 80.5781px; height: 21px;">&nbsp;</td>
<td style="width: 74.0625px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 68.4531px; height: 21px; text-align: center;">&nbsp;</td>
<td style="width: 74.6406px; height: 21px; text-align: center;">&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="width: 711.359px; height: 21px; text-align: right;" colspan="8">TOTAL&nbsp;</td>
<td style="width: 74.6406px; height: 21px; text-align: center;">&nbsp;</td>
</tr>
<tr style="height: 51px;">
<td style="width: 786px; height: 51px;" colspan="9">
<p>&nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ......................................&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ................................................&nbsp; &nbsp;&nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ASM/ASE SIGNATURE&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;DISTRIBUTOR SIGNATURE</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;WITH SEAL</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>